albumentations==1.4.14
comet_ml==3.45.0
#coremltools==7.2
coremltools
Flask==3.0.3
GitPython==3.1.43
ipython==8.12.3
matplotlib==3.9.2
#mediapipe==0.10.14
mediapipe
mss==9.0.2
nncf==2.12.0
numpy==1.26.4
onnx==1.16.2
onnxruntime==1.16.0
onnxsim==0.4.36
#opencv_contrib_python==4.10.0.84
#opencv-python-headless==4.9.0.80
opencv_contrib_python
opencv-python-headless
#opencv_python==4.10.0.84
openvino==2024.3.0
# paddle==1.0.2   <-- REMOVE or update this line
pandas==2.2.2
Pillow==10.3.0
pyyaml==6.0.2
scikit-learn==1.5.0
scipy==1.13.1
streamlit==1.35.0
